<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div 
    style="margin-top: 20px; "
    >
        <div 
        style="font:500; font-size:15px; ">thank you for signing in as a user </div>
        <div 
        style="display: flex; gap: 7px; margin-top: 50px;">
         <div 
         style="font-size: 15; color: black;">this is</div>
         <div style="color: dodgerblue; font-size: 20px; font-weight: 700;">Immaculate Conception Choir</div>
        </div>
    </div>
</body>
</html>